.hero {
    background-color: #D4E8E0;
    padding: var(--padding)
}

.hero h1 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
}

.hero-content {
    display: flex;
    justify-content: space-between;
    max-width: var(--max-width);
    margin: 12px auto;

    font-size: .9em;
}

.hero-info {
    display: flex;
    gap: 2rem;
}

.hero-info-item ul {
    list-style: none;
    padding: 0;
}

.etf-meta {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    width: 280px;

    background-color: #D9D9D9;
    padding: var(--padding)
} 

.etf-meta-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em;

    font-size: .9em;
}

.etf-meta-item div:first-child {
    font-weight: 400;
    opacity: .8;
}

.etf-meta-item div:last-child {
    font-weight: 500;
}

.etf-details {
    max-width: var(--max-width);
    margin: 0 auto;
}