.etf-table {
    margin-top: 12px;
    width: 100%;
    border-collapse: collapse;

    font-size: .9em;
}

.etf-table th {
    background-color: #c2c2c2;
    font-weight: bold;
}

.etf-table th,
.etf-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.etf-table tr:hover {
    background-color: #f1f1f1;
}

.etf-table .highlight {
    background-color: #e0f7fa;
}

.etf-table a:hover {
    text-decoration: underline;
}